
:root{
    --primary-color: #28351B;
    --secondary-color: #FCFAE1;
    --tertiary-color: #b2cb35;
}
.nav{
    background-color: #28351B;
}
.nav-link:hover {
    background-color: #b2cb35;
    color: #28351B;
    font-weight: bold;
}
.btn:hover{
    background-color: #b2cb35;
    color: #28351B;
    font-weight: bold;
}
.nav-link{
    color: var(--secondary-color);
}
.hero-container{
    background-color: #ffffff;
    color: var(--primary-color);
}