:root{
    --primary-color: #28351B;
    --secondary-color: #FCFAE1;
    --tertiary-color: #b2cb35;
}

.nav{
    background-color: #28351B;
}
.nav-link:hover {
    background-color: #b2cb35;
    color: #28351B;
    font-weight: bold;
}
.btn {
    background-color: #b2cb35;
    color: #28351B;
    font-weight: bold;
}
.grnBtn {
    background-color: #28351b;
    color: #b2cb35;
    font-weight: bold;
}
.grnBtn:hover {
    background-color: #b2cb35;
    color: #28351b;
    font-weight: bold;
}
.planet{
    width: 100%;
    height: auto;
}
.grn-container{
    width: 100%;
    height: auto;
    background-color: #28351B;
    color: #FCFAE1;
}
.btn:hover{
    background-color: #FCFAE1;
    color: #28351B;
    font-weight: bold;
}
.nav-link{
    color: var(--secondary-color);
}
.hero-container{
    background-color: #ffffff;
    color: var(--primary-color);
}
img{
    max-width: 100%;
    height: auto;
}
.card {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    width: 18rem;
    height: 35rem;
    margin: 1rem;
}

.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#footer{
    background-color: #28351B;
    color: var(--secondary-color);
    text-align: center;
    padding: 1rem;
}
#footer a{
    color: var(--secondary-color);
}
#footerOverlay{
    background-color: rgba(0, 0, 0, 0.2);
    color: var(--secondary-color);
    text-align: center;
    padding: 1rem;
}
#logo {
    width: 150px; 
    height: 150px;
}
.align-left {
    text-align: left;
    padding-left: 3rem;
}

.align-left li {
    display: block;
    margin-bottom: 10px; /* Adjust as needed */
    padding-left: 0;
}

.align-left a {
    display: block;
    color: white; /* Ensure the text color is white */
    text-decoration: none;
}

.align-left a:hover {
    text-decoration: underline; /* Optional: Add underline on hover */
}

.overlay-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}

.overlay-image {
    max-width: 100px;
    margin-bottom: 10px;
}

.overlay-text {
    font-size: 1.5rem;
}

.svg-container {
    position: relative;
    width: 100%;
    height: auto;
}

.svg-overlay {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    padding: 1rem;
}
.hero {
    position: relative;
}

.hero-bottom-text {
    bottom: 15%; /* Adjust as needed */
    left: 50%;
    transform: translateX(-50%);
    color: white;
    text-align: center;
    font-weight: bolder;
}
